/FindMaxInt.class
/EmptyRectangle.class
/AmountOfWords.class
/FilterStringArray.class
/FilterStringArrayAlternative.class
/MatrixRotation.class
/ArrayExtension.class
/GreatestCommonDivisor.class
/SumDigitsInNumber.class
/StringProcessor.class
/StringProcessorFromVideo.class
/FirstCharCapital.class
/FirstLetterOfEachWordCapital.class
